/* ! INFORMATIE  */


/* 
    Code written by: Bob van Berckel
    Code written on (Start date): 26/10/2020
    Code style: CSS with BEM 
    Code used for: Portfolio style
*/


/* * Fonts importeren */


/* Google Fonts */


/* ?: font-family: 'Sansita Swashed', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

/* ?: font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

/* ?: font-family: 'Noto Sans JP', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* * Standaard waarden herstellen of instellen. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h3 {
    font-weight: normal;
    color: white;
    padding: 0.3em 0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.tagg {
    background-color: lightgray;
    border-radius: 7px;
    padding: 0.3em;
    margin: 0.1em;
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
}

.grid__span2 {
    grid-column: span 2;
}

.yellow {
    color: #FFCA28;
}


/* * Startup animation waardes instellen. De rest wordt gedaan door JavaScript. */

.prelandingpage,
.landingpage {
    padding: 10em 0 5em 0;
    text-align: center;
}

.prelandingpage__header,
.landingpage__header {
    font-family: 'Sansita Swashed', cursive;
    font-size: 5em;
}

.prelandingpage__secondheader,
.landingpage__secondheader {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.landingpage {
    background-color: #1E1E1E;
    transition: background-color 1s;
}

.landingpage__header,
.landingpage__secondheader {
    color: white;
    transition: color 1s;
}


/* * Navigatie bar stylen. */

.nav {
    position: sticky;
    top: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #333333;
}

.nav__links {
    padding: 0.5em;
    display: inline-block;
}

.nav__links__icon {
    font-size: 2.5em;
    color: #436A9B;
    transition: background-color 1s, color 1s;
    padding: 0.1em;
    border-radius: 12px;
}

.nav__links__icon:hover {
    font-size: 2.5em;
    background-color: #436A9B;
    color: white;
    border-radius: 12px;
    transition: background-color 1s, color 1s;
}

.nav__rechts {
    float: right;
}

.nav__rechts__list {
    list-style-type: none;
}

.nav__rechts__list__link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav__rechts__list__link__listitem {
    padding: 1.25em;
    display: inline-block;
    transition: background-color 1s;
    color: #FFCA28;
}

.nav__rechts__list__link__listitem:hover {
    background-color: #436A9B;
    color: white;
    transition: background-color 1s;
}

.resume {
    color: #436A9B;
    transition: color 1s, background-color 1s;
}


/* * About me stylen. */

.aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: #1E1E1E;
}

.aboutme__image {
    padding: 5em 0;
}

.aboutme__image--profilePictureBobvB {
    width: 50%;
    height: auto;
    border-radius: 0 50px 0 50px;
}

.aboutme__text {
    width: 60%;
    margin: 0 auto;
}

.aboutme__text--inleiding {
    margin-top: 9em;
    text-align: left;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}


/* * Mijn projecten stylen */

.myprojects {
    padding-top: 4em;
    background-color: #4E4E50;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 3em;
}

.myprojects__header {
    color: #FFCA28;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5em;
    margin-top: 3em;
}

.myprojects__project {
    margin: 0 auto;
    width: 50%;
}

.myprojects__project--header {
    text-align: center;
    color: #FFCA28;
    padding: 1em 0;
}

.myprojects__project--image {
    max-width: 400px;
    max-height: 400px;
}

.myprojects__project--link {
    text-decoration: none;
    color: white;
    background-color: #436A9B;
    font-style: 14px;
    border-radius: 24px;
    padding: 1em;
}

.myprojects__soonmore {
    text-align: center;
    background-color: #FFCA28;
    border-radius: 14px;
    font-size: 24px;
    margin: 3em 20em;
}


/* * Contact gedeelte */

.contact {
    background-color: #1E1E1E;
    padding: 5em;
}

.contact__header {
    color: #FFCA28;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.contact__inhoud {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    margin-top: 5em;
}

.contact__inhoud__gegevens {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.contact__inhoud__gegevens--link {
    color: #FFCA28;
    border-bottom: solid 1px #FFCA28;
    padding-bottom: 3px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.contact__inhoud__uitleg {
    margin: 0 auto;
    width: 60%;
    font-family: 'Noto Sans JP', sans-serif;
}