/*
    Code written by: Bob van Berckel
    Code written on (Start date): 26/10/2020
    Code style: CSS with BEM
    Code used for: Portfolio style
*/

/* font-family: 'Sansita Swashed', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

/* font-family: 'Noto Sans JP', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* font-family: 'Nunito', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* * Standaard waarden herstellen of instellen. */

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: normal;
}

body, html {
    overflow-y: visible;
    height: 100%;
    scroll-behavior: smooth;
}

::-moz-selection {
    background: #b7b7b7;
}

::selection {
    background: #b7b7b7;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.tag {
    background-color: #ffa502;
    border-radius: 7px;
    padding: 0.3em;
    margin: 0.1em;
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
}

.disabled {
    pointer-events: none;
}

/* Splashscreen */
.splashscreen {
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ), url("../images/header_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.splashscreen__header {
    color: white;
    text-shadow: -3px 3px black;
}

.splashscreen__undertext {
    color: white;
    text-shadow: -3px 3px black;
}

.splashscreen__button {
    margin-top: 7em;
    background-color: #F79F1F;
    display: inline-block;
    padding: 1em;
    border-radius: 24px;
}

.splashscreen__button a {
    color: white;
    text-decoration: none;
}

/* For every device: */
nav {
    width: 100vw;
    background-color: white;
}

nav .navigationbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

nav .navigationbar a {
    text-align: center;
}

nav .navigationbar a i {
    color: #F79F1F;
    text-shadow: #1B1464 -1px 1px;
}

/* About me */
.aboutme {
    width: 100vw;
    background-color: #f1f2f6;
}

.aboutme__image img {
    border-radius: 0 24px 0 24px;
    box-shadow: #F79F1F -4px 4px;
}

.aboutme__text-header {
    font-family: 'Nunito', sans-serif;
}

.aboutme__text-text {
    font-family: 'Nunito', sans-serif;
}

/* My Skills */
.myskills {
    width: 100vw;
    background-color: white;
}

.myskills__text-header {
    font-family: 'Nunito', sans-serif;
}

.myskills__text-skill {
    font-family: 'Nunito', sans-serif;
}

.skill-progress-green h3 {
    background-color: limegreen;
}

.skill-progress-orange h3 {
    background-color: orange;
}

.skill-progress-red h3 {
    background-color: red;
}

.skill-dots {
    width: 95vw;
    margin: 0 auto;
}

.skill-dots p {
    display: flex;
    padding-top: 1em;
    align-items: center;
}

.skilldot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.greendot {
    background-color: limegreen;
}

.orangedot {
    background-color: orange;
}

.reddot {
    background-color: red;
}

/* My Projects */
.myprojects {
    width: 100vw;
    background-color: #f1f2f6;
    font-family: 'Nunito', sans-serif;
}

.myprojects__header {
    text-align: center;
    margin-top: 5em;
}

.myprojects-project__header {
    text-align: center;
    color: #ffa502;
}

.myprojects-project__text h4 a {
    color: #ffa502;
}

.myprojects-project__text-detail {
    font-weight: bold;
}

/* Contact */
.contact {
    height: 100vh;
    width: 100vw;
    background-color: #ffa502;
}

.contact__header {
    margin-top: 5em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.contact-info__header {
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
    width: 75vw;
    margin: 2em auto;
}

.contact-info__text {
    font-family: 'Nunito', sans-serif;
    color: white;
    width: 60vw;
    margin: 2em auto;
}

.contact-info__text p {
    margin-top: 2em;
}

.contact-info__text p a {
    color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Hiding some elements who only should be displayed on PC. */
    .hideOnMobile {
        display: none;
    }

    /* Splashscreen */
    .splashscreen__header {
        margin-top: 15em;
    }

    .splashscreen__undertext {
        margin-top: 2em;
    }

    /* Navigation */
    nav {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }

    nav .navigationbar a i {
        font-size: 6vw;
        padding: 1em;
    }

    /* About me */
    .aboutme {
        height: 100vh;
        margin-bottom: 5em;
    }

    .aboutme__image {
        margin-top: 12vh;
        text-align: center;
    }

    .aboutme__image img {
        height: auto;
        width: 75vw;
    }

    .aboutme__text {
        margin: 2vh auto 0 auto;
        width: 70vw;
        font-size: 2.35vh;
    }

    .aboutme__text-header h2 {
        text-align: center;
        margin-bottom: 3vh;
    }

    /* My Skills */
    .myskills {
        height: 345vh;
    }

    .myskills__text-header h2 {
        margin: 3em 0 0 0;
        text-align: center;
    }

    .myskills__text-skill {
        margin-top: 2em;
        text-align: center;
    }

    .myskills__text-skill h3 {
        padding: 1em 0;
        width: 75vw;
        display: inline-block;
    }

    .myskills__text-skill p {
        width: 60vw;
        margin: 2em auto;
    }

    .skilldot {
        padding: 5px;
    }

    /* My Projects */
    .myprojects {
        height: 345vh;
    }

    .myprojects-project {
        width: 75vw;
        margin: 3em auto;
    }

    .myprojects-project__header {
        font-size: 20px;
    }

    .myprojects-project__buttons {
        text-align: center;
        margin-top: 1em;
    }

    .myprojects-project__buttons a {
        padding: 1em 0;
        margin: 1em 0;
        width: 50vw;
        text-decoration: none;
        display: inline-block;
        color: white;
        background-color: #ffa502;
    }

    /* Contact */
    .contact-info__map {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Hiding some elements who only should be displayed on PC. */
    .hideOnMobile {
        display: none;
    }

    nav {
        position: fixed;
        top: 0;
    }

    nav .navigationbar a i {
        font-size: 4vw;
        padding: 0.5em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Hiding some elements who only should be displayed on PC. */
    .hideOnMobile {
        display: none;
    }

    /* Navigation */
    nav {
        position: fixed;
        top: 0;
    }

    nav .navigationbar a i {
        font-size: 5vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Hiding some elements who only should be displayed on PC. */
    .hideOnMobile {
        display: none;
    }

    nav {
        position: sticky;
        top: 0;
    }

    nav .navigationbar a i {
        font-size: 3vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Hiding some elements who only should be displayed on mobile. */
    .hideOnPC {
        display: none;
    }

    /* Navigation */
    nav {
        position: sticky;
        top: 0;
    }

    nav .navigationbar a {
        transition: background-color 1s, color 1s;
        color: #fff5bb;
    }

    nav .navigationbar a:hover {
        background-color: #9dbcbc;
        transition: background-color 1s, color 1s;
    }

    nav .navigationbar a i {
        font-size: 2vw;
    }
}